.m-btn {
    cursor: pointer;
    font-size: 14px;
    line-height: 18px;
    height: 40px;
    padding: 0 24px;
    border-radius: 4px;
    text-align: center;
    border: none;
    background-color: var(--main-color);
    color: #fff;
    border: 1px solid var(--border-color);
}


.btn {
    margin-right: 8px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    font-weight: 400;
}



.m-btn:hover {
    background-color: var(--hover-color);
}

.m-btn:active {
    background-color: var(--click-color);
}


.m-btn-icon {
    background-position: 16px center;
    background-repeat: no-repeat;
    background-size: 16px;
    padding-left: 40px;
    padding-right: 16px;
    min-width: 100px;

}

.m-btn-icon-add {
    background-image: url("../../assets/icon/add.png");
}