.page-header .page-title {
    font-size: 20px;
    font-weight: 700;
    color: black;
}

.page-toolbar {
    height: 60px;
    width: 100%;
}

.page-grid {
    width: 100%;
    height: calc(100vh - 56px - 60px - 48px - 32px - 16px - 16px);
    background-color: var(--background-color);

}